html, body{
  overflow: hidden;
  margin: 0;
  padding:0;
}

.main {
  margin: auto;
  margin-top: 20vh;
  width: 400px;
  height: 440px;
  border-style: solid;
  border-width: thin;
  border-color:black;
  position:relative;
  border-radius:15px;
  box-shadow: 10px 5px 5px black;
  margin-bottom: 15px;
}

.button {
  position:absolute;
  font-family:serif;
  border-style:solid;
  border-width: 1px;
  border-radius: 35px;
  border-color:black;
  color:black;
  background-color: transparent;
  box-shadow: 3px 3px 3px black;
  width: 75px;
  height:30px;
  padding: 5px 15px;
  font-style: italic;
  font-style:lighter;
  margin-left: 10px;
  bottom:10px;
}

canvas {
  width: 290px;
  height: 28px;
  box-shadow: 3px 3px 3px black;
}
img {
  border-radius: 15px;
  width:380px;
  height:380px;
  object-fit: cover;
  box-shadow: 3px 3px 3px black;
}

.poster {
  position:absolute;
  width:302;
  height:302;
  margin:10px;
  border-radius: 15px;
}

.player {
  border-style: solid;
  border-width: thin;
  position:absolute;
  bottom:10px;
  right: 10px;
  border-radius:15px;
  
  
}

p {
  color:black;
  line-height: normal;
  font-family:times;
  font-size: 15px;
  margin:0px;
}

.description {
  margin: auto;
  width: 400px;
  text-align: right;
  position:relative;
}

.cluster {
  text-shadow: 1px 1px 1px grey;
  margin: auto;
  width: 400px;
  text-align: center;
  position:relative;
  top: 19vh;
  font-style:italic;
}
